@font-face {
  font-family: 'OsloSans';
  src: url('https://cdn.punkt.oslo.kommune.no/latest/fonts/OsloSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #3bf7ad;
  margin: 0;
  padding: 0;
  color: #2c2c2c;
}

/* Toppbjelke */
#topp {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #000000 2px solid;
  position: fixed;
}

#topp-tekst {
  font-size: 40px;
  font-weight: light;
  padding-left: 20px;
  font-family: 'OsloSans', sans-serif;
}

#topp-logo {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

/* Overskrift */
#elevlærer {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

#elevlærer-tekst {
  font-size: 40px;
  font-weight: light;
  font-family: 'OsloSans', sans-serif;
}

/* Input felter */
#skriveinn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#skriveinn p {
  margin-bottom: 0px;
  align-self: flex-start;
  font-size: 30px;
  font-weight: light;
  font-family: 'OsloSans', sans-serif;
}

#skriveinn input {
  width: 100%;
  height: 30px;
  border: 2px solid #000;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}

/* Logg inn knapp */
#login-boks {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-knapp {
  border: solid 2px #ffff;
  border-radius: 10px;
  font-size: 35px;
  font-weight: light;
  padding: 10px 15px;
  background-color: #71ffc2;
  font-family: 'OsloSans', sans-serif;
  cursor: pointer;
}

#login-knapp:hover {
  border: solid 2px #000000;
  border-radius: 10px;
  font-size: 35px;
  font-weight: light;
  padding: 10px 15px;
  background-color: #71ffc2;
  font-family: 'OsloSans', sans-serif;
  cursor: pointer;
}

/* Glemt passord / personvern */
#glemtpassord {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  margin-top: 30px;
}

#glemtpassord-tekst {
  font-size: 30px;
  font-weight: light;
  font-family: 'OsloSans', sans-serif;
  border-bottom: 2px solid #ffff;
  width: fit-content;
  cursor: pointer;
}

#glemtpassord-tekst:hover {
  border-bottom: 2px solid #000000;
}